### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(purchase_data)
purchase_data_pd.head()
#age_list = purchase_data_pd['Age'].drop_duplicates()
#age_list
#age_df = pd.DataFrame(age_list, columns = ['Age'])
#age_df
player_demographics = purchase_data_pd.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]# Display the total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

## Player Count

* Display the total number of players

In [5]:
purchase_data_pd ["SN"].head()
count = purchase_data_pd ["SN"].value_counts()
count
Total_players_df = pd.DataFrame ([{"Total Players":len(count)}])
Total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_item = purchase_data_pd["Item ID"].value_counts ()
unique_item
unique_list = len(unique_item)
average_price = purchase_data_pd ["Price"].mean()
average_price
Total_revenue = purchase_data_pd ["Price"].sum()
Total_revenue
number_of_purchases = purchase_data_pd["Purchase ID"].count()
Summary_df = pd.DataFrame ([
        {"Number of unique items": unique_list, "Average Price":average_price,
         "Number of Purchases": number_of_purchases, "Total Revenue":Total_revenue}
 ])
Summary_df
Summary_df ["Average Price"] = Summary_df["Average Price"].map("${:,.2f}".format)
Summary_df
Summary_df ["Total Revenue"] = Summary_df["Total Revenue"].map("${:,.2f}".format)
Summary_df

  Average Price  Number of Purchases  Number of unique items Total Revenue
0         $3.05                  780                     183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_data_pd = purchase_data_pd.loc [:,["SN","Gender"]]
gender_data_pd = gender_data_pd.drop_duplicates ()
gender_data_pd = gender_data_pd ["Gender"].value_counts()
gender_data_pd
percentage_players = gender_data_pd/len(count)*100
percentage_players
percentage_players.round(2)
gender_demo = pd.DataFrame(gender_data_pd) 
gender_demo["Percentage of players"] = percentage_players
gender_demo
final_df = gender_demo.rename(columns = {"Gender":"Total counts"})
final_df
final_df ["Percentage of players"] = final_df["Percentage of players"].map("{:,.2f}".format)
final_df

                       Total counts Percentage of players
Male                            484                 84.03
Female                           81                 14.06
Other / Non-Disclosed            11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
purchase_count = purchase_data_pd.groupby(["Gender"]).count()["Price"]
purchase_count

average_price = purchase_data_pd.groupby(["Gender"]).mean ()["Price"]
average_price
purchase_price = purchase_data_pd.groupby(["Gender"]).sum ()["Price"]
purchase_price
avg_per_person = purchase_price/final_df["Total counts"]
avg_per_person
pur_analysis = pd.DataFrame (purchase_count)
pur_analysis
pur_analysis['Average'] = average_price

pur_analysis['Total Purchase'] = purchase_price
pur_analysis

summary_df = pur_analysis.rename(columns = {"Price":"Purchase count" , "Average":"Average Purchase Price"})
summary_df
summary_df ["Average Purchase Price"] = summary_df["Average Purchase Price"].map("{:,.2f}".format)
summary_df

total = summary_df['Total Purchase']
count = summary_df['Purchase count'].sum()


summary_df["Average Total Purchase per person"] = avg_per_person
summary_df
summary_df["Average Total Purchase per person"]= summary_df["Average Total Purchase per person"].map("{:,.2f}".format)
summary_df

,Purchase count,Average Purchase Price,Total Purchase,Average Total Purchase per person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_pd["Age_group"] = pd.cut(player_demographics["Age"], age_bins, labels = group_names)
purchase_data_pd.head()
ages_grp = purchase_data_pd["Age_group"].value_counts()
avg_ages = ages_grp / 576 * 100

age_df = pd.DataFrame({"Total Count": ages_grp, 
                       "Percantage of Players": avg_ages})
age_df['Percantage of Players'] = age_df['Percantage of Players'].map('{:,.2f}%'.format)
age_df.head(8)

#purchase_data_pd.sort_values(["Age_group"],ascending=True).head()

#Total_count = purchase_data_pd ["Age_group"].value_counts()
#Total_count
#percentage_df = age_data/len(count)*100
#percentage_df.round(2)
#age_data_df = pd.DataFrame({"Total Count": age_data,"Percentage of Players": percentage_df})
#age_data_df.head()
#age_data_df = age_data_df.round(2)
#age_data_df

       Total Count Percantage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:

purchase_data_df["Age Ranges"] =

SyntaxError: invalid syntax (<ipython-input-9-8c962fde8295>, line 2)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame